# Xcode
.DS_Store
build/
DerivedData/
*.hmap
*.ipa
*.xcworkspace/
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.lock
*.xcworkspace

# Carthage
Carthage/Build/

# Swift Package Manager
.build/

# Firebase
GoogleService-Info.plist
